<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div class="myPage", style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
  <div class="myPageMain">
    <div class="myPageBox">
      <h4 class="roomsTitle">
        Notifications
      </h4>
      <div class="notifications">
        <div class="notification">
          <% if notifications.exists? %>
            <%= render notifications %>
          <% else %>
            <p>通知はありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>