.newPostMessage {
  background-color: #222222;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  &__heading {
    margin-top: 20px;
    font-size: 30px;
    color: #ffffff;
    background-color: #222222;
  }
}

.postIndex {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
  background-size: cover;
  background-position: center center;
}

.categoryNewPost {
  height: 60vh;
  width: 50vw;
  padding: 50px 50px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #4682b4;
  border-radius: 10px;
  position: relative;
  &:hover {
    border-radius: 10px;
    border: 1px solid #00bfff;
    background-color: rgba($color: #fff, $alpha: 0.05);
    transition: all 0.3s ease;
  }
  .showLink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

.indexUserInfomation {
  // background-color: #222222;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  a {
    color: #4682b4;
  }
  &__userAvater {
    height: 50px;
    width: auto;
    font-size: 40px;
    color: #ffffff;
    // background-color: #222222;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    display: inline-block;
    .avater {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  &__username {
    width: auto;
    font-size: 25px;
    color: #4682b4;
    margin-left: 5px;
    display: inline-block;
    z-index: 3;
  }
  &__date {
    width: auto;
    font-size: 12px;
    color: #4682b4;
    margin-left: 20px;
    display: inline-block;
  }
}

.categoryPostTitle {
  width: auto;
  font-size: 20px;
  margin: 1vh;
  // background-color: #222222;
  color: #ffffff;
}
.categoryPostImage {
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.categoryPostImage:hover + .categoryPostIndex {
  border-radius: 10px;
  border: 1px solid #00bfff;
  transition: all 0.3s ease;
}

.areaInfomation {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 11vw;
  size: 11px;
  margin: 5px 0 0 5px;
}
.categoryIndexFavorite {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 4vw;
  size: 18px;
  margin: 5px 0 0 5px;
}

.cattegoryuserIcon {
  font-size: 20px;
  color: #ffffff;
}

.categoryAreaName {
  font-size: 15px;
  margin-left: 6px;
}

.showpagenate {
  background-color: #222222;
  display: flex;
  justify-content: center;
  .pageselect {
    background-color: #222222;
  }
}
