.Category-container {
  background-color: #222222;
  position: absolute;
  height: 45vh;
  width: 85%;
  /* Safari */
  display: flex;
  overflow: hidden;
}

.Category-slide {
  position: relative;
  flex: 1;
  z-index: 1;
  cursor: pointer;

  transition: all 500ms ease;
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.Category-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}
.Category-slide:hover .Category-title {
  color: #1E90FF;
  text-decoration: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.Category-title {
  color: #f1f1f1;
  font-size: 3.5vh;
  margin: auto;
  text-align: center;
  top: 15%;
  z-index: 2;
  transition: all 500ms ease;
}

.Category-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 2vh;
  padding: 5%;
  top: 20%;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  transition: all 500ms ease;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838916/photosp/526be6e4-94d5-4efc-91e4-6f7eda3dd141/526be6e4-94d5-4efc-91e4-6f7eda3dd141.jpg);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1571912347985-1c49ffa8b124?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=622&q=80);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}
.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1505429155379-441cc7a574f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1596253818975-c86f296ae87a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}
.food {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1516684732162-798a0062be99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}

@media screen and (max-width: 700px) {
  .CategorySection {
    height: 6vh;
    display: flex;
    justify-content: center;
    background-color: #222222;
    align-items: center;
    padding-top: 4vh;
    .CategoryHeading {
      font-size: 3vh;
      color: #FFFFFF;
      padding-top: 4vh;
    }
  }

  .CategorySearch {
    width: 100vw;
    height: 50vh;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #222222;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  .Category-container { 
    height: 40vh;
    flex-direction: column; 
  }
}