.newPostMessage {
  background-color: #222222;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  &__heading {
    font-size: 30px;
    height: 6vh;
    color: #ffffff;
    margin-top: 3vh;
  }
}

.categoryPostContainer {
  // height: 100vh;
  background-color: #222222;
}

.noPostMessage {
  font-size: 20px;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #222222;
}

.categoryPostIndex {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
  background-size: cover;
  background-position: center center;
}

.categoryNewPost {
  height: 60vh;
  width: 50vw;
  padding: 50px 50px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #4682b4;
  border-radius: 10px;
  position: relative;
  &:hover {
    border-radius: 10px;
    border: 1px solid #00bfff;
    background-color: rgba($color: #fff, $alpha: 0.05);
    transition: all 0.3s ease;
  }
  .showlink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

.indexUserInfomation {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  a {
    color: #4682b4;
  }
  &__userAvater {
    height: 50px;
    width: auto;
    font-size: 40px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    display: inline-block;
    .avater {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  &__username {
    width: auto;
    font-size: 2.5vh;
    color: #4682b4;
    margin-left: 5px;
    display: inline-block;
    z-index: 3;
    :hover {
      color: #00bfff;
      transition: all 0.3s ease;
    }
  }
  &__date {
    width: auto;
    font-size: 12px;
    color: #4682b4;
    margin-left: 20px;
    display: inline-block;
  }
}

.categoryPostTitle {
  width: auto;
  font-size: 20px;
  margin: 1vh;
  color: #ffffff;
}

.categoryPostImage {
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.categoryPostImage:hover + .CategoryPostIndex {
  border-radius: 10px;
  border: 1px solid #00bfff;
  transition: all 0.3s ease;
}

.categoryAreaInfomation {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 7vw;
  margin: 5px 0 0 5px;
}

.categoryUserIcon {
  font-size: 2vh;
  color: #ffffff;
}

.categoryAreaName {
  font-size: 1.5vh;
  margin-left: 6px;
}

.categoryIndexFavorite {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 4vw;
  margin: 5px 0 0 5px;
}

.clipedCount {
  margin-left: 0.5vw;
}

.clipButton {
  width: 0;
}

////////////////////////////////レスポンシブ対応//////////////////////////////
@media (max-width: 700px) {
  .newPostMessage {
    font-size: 2vh;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading {
      font-size: 30px;
      color: #ffffff;
    }
  }

  .categoryPostIndex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #222222;
    padding: 1vh 1vw;
  }

  .categoryNewPost {
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #4682b4;
    background-color: #222222;
    border-radius: 10px;
    margin: 2vh 0;
    &:hover {
      border-radius: 10px;
      border: 1px solid #00bfff;
      background-color: rgba($color: #fff, $alpha: 0.05);
      transition: all 0.3s ease;
    }
    .showlink {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }

  .indexUserInfomation {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    a {
      color: #4682b4;
    }
    &__userAvater {
      height: 50px;
      width: auto;
      font-size: 40px;
      color: #ffffff;
      display: inline-block;
      .Avater {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
    &__username {
      width: auto;
      font-size: 15px;
      color: #4682b4;
      margin-left: 5px;
      display: inline-block;
      :hover {
        color: #00bfff;
        transition: all 0.3s ease;
      }
    }
    &__date {
      width: auto;
      font-size: 12px;
      color: #4682b4;
      margin-left: 20px;
      display: inline-block;
    }
  }

  .categoryPostTitle {
    width: auto;
    font-size: 2vh;
    color: #ffffff;
  }
  .categoryPostImage {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
    color: #ffffff;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  .categoryPostImage:hover + .categoryPostIndex {
    border-radius: 10px;
    border: 1px solid #00bfff;
    transition: all 0.3s ease;
  }

  .categoryAreaInfomation {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 15vw;
    margin: 5px 0 0 5px;
  }

  .categoryUserIcon {
    font-size: 2vh;
    color: #ffffff;
  }

  .categoryAreaName {
    font-size: 1vh;
    margin-left: 6px;
  }

  .categoryIndexFavorite {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 15vw;
    margin: 5px 0 0 5px;
  }
}
