<div class="newContents">
  <h3 class='newContents__message'>
    New Post
  </h3>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="newContents__container">
    <%= render 'form', post: @post %>
  </div>
</div>