.Notification {
  width: 100vw;
  height: 1vh;
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}