@import "reset";
@import "category/index";
@import "category/show";
@import "comment/comment";
@import "newpost/index";
@import "notification/index";
@import "post/index";
@import "post/new";
@import "post/show";
@import "post/success";
@import "user/accountPage";
@import "user/mypage";
@import "user/follow_follower";
@import "room/show";
@import "prefecture/index";
@import "prefecture/show";
@import "flash";
@import "validationEngine.jquery";
@import "footer";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

//ヘッダーのアウトライン=======================================================
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10vh;
  background-color: rgba($color: #222222, $alpha: 0.95);
  z-index: 9000;
  &__ber {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.headerMenus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 2vh;
  &__left {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  &__right {
    color: #ffffff;
    font-size: 2vh;
    width: auto;
    display: flex;
    align-items: center;
  }
}

// ヘッダーのアプリケーションロゴ================================================

.headerLogo {
  height: 7.5vh;
  width: auto;
  background-color: rgba($color: #222222, $alpha: 0.95);
  position: relative;
  a {
    position: absolute;
    top: 100%;
    left: 100%;
  }
}

// ログインメニュー==========================================================
.loginedMenus {
  width: auto;
  font-size: 2vh;
  display: flex;
  .loginMenu:hover {
    color: #00bfff;
  }
  .loginUserName {
    color: #ffffff;
    font-size: 1.5vh;
  }
  .loginMenu {
    margin-left: 2vw;
    cursor: pointer;
    text-decoration: none;
  }
}

// ヘッダーのアイコン=======================================================
// お知らせアイコン
.headerBellIcon {
  font-size: 3vh;
  color: #ffffff;
  position: relative;
  &__stack-count {
    position: absolute;
    bottom: -15%;
    right: -25%;
    height: 1.9vh;
    width: 1.5vw;
    border-radius: 50%;
    font-size: 1.4vh;
    text-align: center;
    line-height: 2vh;
    background-color: #ff6928;
  }
}

.headerBellIcon:hover {
  color: rgba($color: #ffffff, $alpha: 0.5);
}

// ログインユーザーのアイコン・名前
.loginUser {
  width: 200px;
  height: 50px;
  margin-left: 5%;
}
.loginUserInfo {
  display: flex;
  align-items: center;
  // position: relative;
  &__Avatar {
    width: 40px;
    height: 40px;
    &--image {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}
.loginUserName {
  font-size: 0.7em;
  margin-right: 5px;
}

.dropDownMenu {
  width: 200px;
  display: none;
  margin-left: -5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  background-color: rgba($color: #222222, $alpha: 0.95);
}
.dropDownMenu li {
  cursor: pointer;
  width: 100%;
  padding: 2vh 0;
}
.dropDownMenu li a:hover {
  text-decoration: none;
  color: #00bfff;
}

// ログイン前のヘッダーメニュー一覧==============================================

.beforeLoginMenus {
  font-size: 2vh;
  margin-left: 5vw;
  display: flex;
  .beforeLoginMenu:hover {
    color: #00bfff;
  }
  .beforeLoginMenu {
    margin-right: 2vw;
    text-decoration: none;
  }
}

// body要素==================================================================
.body {
  z-index: 1;
}

// ルートページ以外の検索バー====================================================
.searchSpace {
  margin-left: 3vw;
}
.searchForm {
  width: auto;
  &__label {
    font-size: 15px;
    color: #ffffff;
  }
  &__content {
    width: 40vw;
    height: 30px;
    color: #000000;
    border-radius: 5px;
    border-color: #008bbb;
  }
  &__bottum {
    margin-left: 0.5vw;
    font-size: 20px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: #87cefa;
    border: none;
    box-shadow: 0 0 8px gray;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .searchForm__bottum:hover {
    background-color: #00bfff;
  }
}

//ページネーションに関するCSS===================================================
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #4682b4; /*文字の色を変える*/
  background-color: #222222;
  font-size: 15px;
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #00bfff; /*背景の色を変える*/
  // border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  // border-radius: 15px; /*角を丸くする*/
}

////////////////////////////////ページネーションのレスポンシブ対応//////////////////////////////////////
@media screen and (max-width: 700px) {
  .pagination > li > a {
    border: none; /*枠線をなくす*/
    color: #4682b4; /*文字の色を変える*/
    background-color: #222222;
    font-size: 5px;
  }
}

/////////////////////////////////レスポンシブ対応////////////////////////////

//ブラウザ幅が700以上の場合はバーガーメニューを非表示================================
@media screen and (min-width: 700px) {
  .hanbergerMenu {
    display: none;
  }
}

//ブラウザ幅が700px未満の場合===================================================
@media screen and (max-width: 700px) {
  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba($color: #222222, $alpha: 0.95);
    z-index: 9000;
  }

  .headerMenus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    height: 100%;
    font-size: 2vh;
    &__left {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    &__right {
      display: none;
    }
  }

  .headerLogo {
    height: 7.5vh;
    width: auto;
    background-color: rgba($color: #222222, $alpha: 0.95);
    position: relative;
    a {
      position: absolute;
      top: 100%;
      left: 100%;
    }
  }

  // ログイン後のメニュー
  .loginedMenus {
    color: #4682b4;
    width: auto;
    font-size: 2vh;
    .loginMenu:hover {
      color: #00bfff;
    }
    .loginUserName {
      color: #ffffff;
      font-size: 1.5vh;
    }
    .loginMenu {
      color: #4682b4;
      display: none;
      margin-left: 2vw;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // ログイン前のメニュー
  .beforeLoginMenus {
    font-size: 2vh;
    margin-left: 5vw;
    display: none;
    .beforeLoginMenu:hover {
      color: #00bfff;
    }
    .beforeLoginMenu {
      margin-right: 2vw;
      text-decoration: none;
    }
  }

  // バーガーメニューボタン（開閉ボタン）
  .bargermenu-btn {
    position: fixed;
    top: 2%;
    right: 5%;
    margin-right: 2vw;
    z-index: 1000;
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .bargermenu-closebtn {
    position: fixed;
    top: 2%;
    right: 10%;
    margin-right: 2vw;
    z-index: 1000;
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #222222, $alpha: 0.95);
    color: #fff;
    .i {
      width: 10vw;
      height: 10vh;
    }
  }

  // バーガーメニュー本体
  .bargermenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 50vw;
    height: 100%;
    overflow: hidden;
    background-color: rgba($color: #222222, $alpha: 0.95);
  }

  // バーガーメニューの各リンク
  .menus {
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    padding-top: 10vh;
    ul {
      text-align: center;
    }
    li {
      padding: 1vh 0;
    }
    :hover {
      color: #00bfff;
      text-decoration: none;
    }
  }

  .menuItem {
    width: auto;
    height: auto;
    color: #4682b4;
    margin-top: 32px;
    box-sizing: border-box;
  }
  /*----------------------------
  * アニメーション部分
  *----------------------------*/

  /* アニメーション前のメニューの状態 */
  .bargermenu {
    transform: translateX(100vw);
    transition: all 0.1s linear;
  }
  /* アニメーション後のメニューの状態 */
  .bargermenu.is-active {
    transform: translateX(0);
    padding: 16px 16px;
  }

  /* 検索バー*/
  .searchSpace {
    margin-left: 3vw;
  }
  .searchForm {
    width: auto;
    &__label {
      font-size: 10px;
      color: #ffffff;
    }
    &__content {
      width: 40vw;
      height: 3vh;
      color: #000000;
      border-radius: 5px;
      border-color: #008bbb;
    }
    &__bottum {
      font-size: 15px;
      margin-left: 0.5vw;
      height: 3vh;
      width: 50px;
      border-radius: 20px;
      background-color: #00bfff;
      border: none;
      box-shadow: 0 0 8px gray;
      color: #ffffff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  .serchBar {
    display: flex;
  }
}
