* {
  box-sizing: border-box;
}

// TOPページのWrapper=======================================================
.mainSpace {
  color: #222222;
  height: 100%;
  width: 100%;
}

// 検索バー画面=============================================================
.searchSection {
  background-color: #222222;
  color: #ffffff;
  height: 50vh;
  width: 100vw;
  padding-top: 10vh;
}
.searchBackgroundImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
}
.applicationIntroduction1 {
  font-size: 3.5vh;
  margin-top: 3vh;
}
.ApplicationIntroduction2 {
  font-size: 1.3vh;
}
.searchHeading {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 4vh;
}
.searchForm {
  width: auto;
  &__content {
    width: 40vw;
    height: 3vh;
    color: #000000;
    border-radius: 5px;
    border-color: #008bbb;
  }
  &__bottum {
    margin-left: 0.5vw;
    height: 3vh;
    width: 10vw;
    color: #000000;
    background-color: #fffafa;
    border-radius: 10px;
  }
}

// カテゴリー画面=============================================================
.categorySection {
  display: flex;
  justify-content: center;
  background-color: #222222;
  align-items: center;
  padding-top: 100px;
}
.categoryHeading {
  font-size: 2.5vh;
  color: #ffffff;
  margin-top: 3vh;
}
.categorySearch {
  width: 100vw;
  height: 50vh;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

// Prefecture画面===========================================================
.prefectureSection {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.prefectureHeading {
  font-size: 2.5vh;
  color: #ffffff;
  margin-top: 3vh;
}
.prefectureSearch {
  width: 100vw;
  height: 50vh;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  flex-direction: column;
}

//NewPostの部分=============================================================
.newPostMessage {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    font-size: 2.5vh;
    height: 6vh;
    color: #ffffff;
    margin-top: 5vh;
  }
}
.seeMore {
  font-size: 1.5vh;
  height: auto;
  color: #4682b4;
  display: flex;
  justify-content: center;
  background-color: #222222;
  text-decoration: none;
  padding-top: 2vh;
  a {
    text-decoration: none;
  }
  :hover {
    color: #1e90ff;
  }
}
.toppagePostIndex {
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
  background-size: cover;
  background-position: center center;
  overflow: scroll;
}
.toppageNewPost {
  height: 60vh;
  width: 50vw;
  padding: 3vh 4vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #4682b4;
  box-shadow: 0 0 7px #999999;
  border-radius: 10px;
  position: relative;
  &:hover {
    border-radius: 10px;
    border: 1px solid #00bfff;
    background-color: rgba($color: #fff, $alpha: 0.05);
    transition: all 0.3s ease;
  }
  .showLink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}
.toppageUserInfomation {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  a {
    color: #4682b4;
  }
  &__userAvater {
    height: 50px;
    width: auto;
    font-size: 40px;
    color: #ffffff;
    display: inline-block;
    .Avater {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  &__username {
    width: auto;
    font-size: 1.5em;
    color: #4682b4;
    margin-left: 5px;
    display: inline-block;
    z-index: 3;
    :hover {
      text-decoration: none;
      color: #00bfff;
      transition: all 0.3s ease;
    }
  }
  &__date {
    width: auto;
    font-size: 12px;
    color: #4682b4;
    margin-left: 20px;
    display: inline-block;
  }
}
.toppagePostTitle {
  width: auto;
  font-size: 20px;
  margin: 1vh;
  color: #ffffff;
}
.toppagePostImage {
  border: 1px solid #000000;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.toppagePostImage:hover + .toppagePostIndex {
  border-radius: 10px;
  border: 1px solid #00bfff;
  transition: all 0.3s ease;
}
.toppageAreaInfomation {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 9vw;
  margin: 5px 0 0 5px;
}
.toppageUserIcon {
  font-size: 2vh;
  color: #ffffff;
}
.toppageAreaName {
  font-size: 1.5vh;
  margin-left: 6px;
}
.toppageIndexFavorite {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 5vw;
  margin: 5px 0 0 5px;
}

////////////////////////////New Postsのレスポンシブ対応///////////////////////////
@media (max-width: 700px) {
  .newPostMessage {
    font-size: 2vh;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading {
      font-size: 2vh;
      color: #ffffff;
    }
  }

  .seeMore {
    font-size: 1.5vh;
    color: #4682b4;
    display: flex;
    justify-content: center;
    background-color: #222222;
    text-decoration: none;
    a {
      text-decoration: none;
    }
    :hover {
      color: #1e90ff;
    }
  }

  .toppagePostIndex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #222222;
    padding: 1vh 2vw;
  }

  .toppageNewPost {
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #4682b4;
    border-radius: 10px;
    margin: 2vh 0;
  }

  .toppageUserInfomation {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    a {
      color: #4682b4;
    }
    &__userAvater {
      height: 50px;
      width: auto;
      font-size: 40px;
      color: #ffffff;
      display: inline-block;
      .Avater {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
    &__username {
      width: auto;
      font-size: 15px;
      color: #4682b4;
      margin-left: 5px;
      display: inline-block;
      a {
        display: inline-block;
      }
    }
    &__date {
      width: auto;
      font-size: 12px;
      color: #4682b4;
      margin-left: 20px;
      display: inline-block;
    }
  }

  .toppagePostTitle {
    width: auto;
    font-size: 2vh;
    // background-color: #222222;
    color: #ffffff;
  }
  .toppagePostImage {
    border: 1px solid #000000;
    height: 100%;
    width: 100%;
    color: #ffffff;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  .toppagePostImage:hover + .toppagePostIndex {
    border-radius: 10px;
    border: 1px solid #00bfff;
    transition: all 0.3s ease;
  }

  .toppageAreaInfomation {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    width: 20vw;
    margin: 5px 0 0 5px;
  }

  .toppageUserIcon {
    font-size: 2vh;
    color: #ffffff;
  }

  .toppageAreaName {
    font-size: 1vh;
    margin-left: 6px;
  }

  .toppageIndexFavorite {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 15vw;
    margin: 5px 0 0 5px;
  }
}
