.postShow {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #222222;
  border-top: 1px solid #4682b4;
}

.showNewPostArea {
  width: 50%;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
}

// 投稿タイトル=============================================================
.showPostTitle {
  font-size: 20px;
  color: #ffffff;
}

// 投稿トップ画像===========================================================
.showPostImage {
  border: 1px solid #000000;
  margin-top: 10px;
  height: 40vh;
  color: #000000;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

// 都道府県名とアイコン=======================================================
.showAreaInfomation {
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 90px;
  margin: 5px 0 0 5px;
  position: absolute;
  top: 5px;
  left: 10px;
  .showUserIcon {
    font-size: 15px;
    color: #ffffff;
  }
  .showAreaName {
    font-size: 15px;
    margin-left: 6px;
  }
}

// 画像のbookmarkのアイコンとカウント===========================================
.categoryIndexFavorite {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border: #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 4vw;
  margin: 5px 0 0 5px;
}

.clipedCount {
  margin-left: 0.5vw;
}

.clipButton {
  width: 0;
}

// 投稿画像一覧（横並びで最大５枚まで表示）=======================================
.postImagesShow {
  display: flex;
  height: 10vh;
  width: 20vw;
  .subImage {
    width: 8vw;
    height: 10vh;
  }
}

//投稿に関する文章部分========================================================
.postDescription {
  width: 40vw;
  height: 10vh;
  font-size: 1.5vh;
  background-color: #eeeeee;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px 10px;
}

//投稿の編集・削除ボタン（投稿者のみ表示）=======================================
.showButtons {
  display: flex;
  // justify-content: space-around;
  // width: 100vw;
  margin-bottom: 1vh;
}

.showPostEditBtn {
  color: #ffffff;
  height: 20px;
  width: 10vw;
  margin: 0.5vh 0;
  border-radius: 20px;
  background-color: #4682b4;
  border: none;
  box-shadow: 0 0 8px gray;
  color: #ffffff;
  line-height: 1.5;
  font-size: 1.3vh;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.showPostEditBtn:hover {
  text-decoration: none;
  background-color: rgba($color: #4682b4, $alpha: 0.5);
}

// 削除ボタン //
.showPostDeleteBtn {
  color: #ffffff;
  height: 20px;
  width: 90px;
  margin: 0.5vh 0;
  border-radius: 20px;
  background-color: #cc0000;
  border: none;
  box-shadow: 0 0 8px gray;
  line-height: 1.5;
  font-size: 1.3vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.showPostDeleteBtn:hover {
  background-color: rgba($color: #cc0000, $alpha: 0.8);
}

// Bookmark登録ボタン========================================================
.bookmarkBtn {
  color: #ffffff;
  border-radius: 10%;
  .bookmarkBtn:hover {
    color: #00bfff;
  }
}

// SNSシェアボタン============================================================
.shares {
  margin-top: 0.5vh;
  &__btn {
    margin-right: 0.3vw;
    height: 1vh;
    font-size: 2.5vh;
  }
  a {
    text-decoration: none;
  }
}

.sns1 {
  color: #005fff;
}
.sns2 {
  color: #0099ff;
}
.sns3 {
  color: #00ff33;
}

// コメント投稿部分===========================================================
.commentBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.commentlist {
  padding: 0 20px;
}
.new_comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

// グーグルマップ===========================================================
.googleMapShow {
  color: #ffffff;
  padding: 0 50px;
  width: 100%;
  .mapShow {
    text-align: center;
  }
  .maptitleName {
    font-size: 20px;
  }
}

//投稿削除時のモーダル画面=======================================================

#contents {
  z-index: 0;
  font-size: 16px;
}

#modal-main {
  display: none;
  margin: 0;
  padding: 2vh 2vh;
  color: #666666;
  position: fixed;
  z-index: 2;
}

.modal-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .modal-content {
    box-shadow: 10px 10px 10px #222222;
    width: 500px;
    height: 300px;
    font-size: 1.5vh;
    line-height: 0.3vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h5 {
      font-size: 1.5vh;
      font-weight: bold;
    }
    h6 {
      font-size: 1.5vh;
      font-weight: bold;
    }
  }
}

.DeleteModalButton {
  width: 500px;
  height: 2vh;
  display: flex;
  justify-content: center;
}
.delete-btn {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: 1vh 1vh;
  height: 4vh;
  width: 20vw;
  margin: 5vh 0;
  border-radius: 20px;
  background-color: #ff0000;
  border: none;
  box-shadow: 0 0 8px gray;
  color: #ffffff;
  line-height: 2;
  font-size: 2vh;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.delete-btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba($color: #ff0000, $alpha: 0.5);
}

.ReturnBtn {
  color: #4682b4;
  cursor: pointer;
}
.ReturnBtn:hover {
  color: #1e90ff;
}

/* モーダル background */
#modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
//モーダルここまで===============================================================================

// /////////////////////////レスポンシブ対応//////////////////////////////////////////

@media screen and (max-width: 700px) {
  .postShow {
    display: flex;
    flex-direction: column;
  }

  .showNewPostArea {
    width: 100%;
    padding: 2vh 2vw;
  }

  .showPostImage {
    width: 100%;
  }

  .CategoryIndexFavorite {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 4vw;
    margin: 5px 0 0 5px;
  }
  .ClipedCount {
    margin-left: 1vw;
  }
  .ClipButton {
    width: 0;
  }

  .PostImagesShow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-top: 1vh;
    .subImage {
      width: 30vw;
      height: 10vh;
    }
  }

  .PostDescription {
    width: 100%;
  }

  .bookmark-btn {
    display: flex;
    justify-content: flex-end;
  }

  .shares {
    display: flex;
    justify-content: flex-end;
    &__btn {
      margin: 0 1vw;
    }
  }

  .GoogleMapShow {
    padding: 0;
  }
  .maptitleName {
    font-size: 20px;
  }

  .CommentForm {
    &__textbox {
      width: 100vw;
    }
    &__btn {
      width: 40vw;
    }
  }
  .comments {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
  }
}
